* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: inter;
    width: 100%;
    margin: 0 auto;
    background: rgb(29 78 216);
  }
  
  .all__news {
    display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(360px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 2rem;
  }
  
  .News {
    padding-top: 20px;
  }
  
  .news__title {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
  }
  
  .head__text {
    margin-top: 30px;
  }
  
  .news__desc {
    padding-top: 10px;
    line-height: 25px;
    font-size: 14px;
    padding-bottom: 10px;
  }
  
  .news__author {
    margin-right: 10px;
    color: purple;
  }
  
  .news__published {
    margin-right: 10px;
  }
  
  .news__source,
  .news__published {
    display: inline-block;
    margin-top: 10px;
    color: rgb(122, 122, 122);
  }