.news__card {
  text-decoration: none;
  color: #080808;
  background-color: #fff;
  padding: 20px;
  width: auto;
  height: auto;
  border-radius: 20px;
  border-color: #080808;
  --webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16),
    0 3px 3px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.news__card:hover {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6), 0 3px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6), 0 3px 3px rgba(0, 0, 0, 0.7);
}

h2 {
  font-size: 1.6rem;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
